.black{
	background-color: black;
	height: 50px;
}

.title {
	color:white;
}

.btn-primary {
	background-color: white;
	color: blue;
}

#blue {
	color:blue;
	font-family: Marker Felt, fantasy	;
}

#bold {
	font-weight:  bold;
}

header { margin-bottom:2%;
}

#lol {
	margin-top: 5%;
}

body {
  margin: 0,1%; /* eviter apparition scrollbar lors de la saisie */


}

#acentrer {
	text-align: center;
	background-color: grey;
}

.needs-validation{
	margin-top: 2%;
}

.btnvalider{
	margin-top: 1%;
	background-color: green;
	color: white;
	

}